.__wrapper_searchbar{
    height: 100px;
    border-radius: 25px !important;
    background-color: #ee5057 !important;

    .__btn_search{
        color: #ee5057;
        background-color: #fff;
    }
}

