.__searchFlighFilter{
    min-height: 0px !important;
    height: 350px !important;
}

.__fly_quote{
    width: 100%;
    text-align: center;
    // height: 200px;
    position: relative;

    .__fly_abs{
        color: #afafaf;
        position: absolute;
        right: 0;
        width: 100%;
        top: 50%;
    }
}