.__search_input_bar{
    input{
        border: hidden;
    }
    .__dropDown{
        background-color: #ffedee;
        visibility: hidden;
        .__dropdown_list{
            list-style-type: none;
            padding: 0;
            .__dropdown_item{
                padding: 5px;
                cursor: pointer;
            }
            .__dropdown_item:hover{
                background-color: #ffb9bd;
            }
            .__dropdown_item_nores{
                padding-top: 5px;
                cursor: none;
            }
        }
    }
}